<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="traccarwebapiURL" value="http://demo.traccar.org/api/"/>
    <add key="GMbaseURL" value="http://maps.google.com/"/>
    <add key="FirebaseURL" value="https://samm-6bab0.firebaseio.com/drivers/"/>
    <add key="FirebaseAUTH" value="zxzfkxLg55eZZiFFEiXDQDfdnHktdPfR5ihpx1oq"/>
    <add key="DefaultZoomLevel" value="16"/>
    <add key="TimerIntervalInSeconds" value="5"/>
  </appSettings>
</configuration>